<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="logentries.core" version="2.5.0" targetFramework="net45" />
  <package id="logentries.nlog" version="2.2.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.1.0" targetFramework="net45" />
  <package id="NLog" version="3.1.0.0" targetFramework="net45" />
  <package id="SimpleLogging.Core" version="0.5.0" targetFramework="net45" />
  <package id="SimpleLogging.LogEntries" version="0.5.0" targetFramework="net45" />
  <package id="SimpleLogging.NLog" version="0.5.0" targetFramework="net45" />
  <package id="Unity" version="3.5.1404.0" targetFramework="net45" />
</packages>